/*
Scripture Text
*/

p.bible_text, #poststuff #bible-text p.bible_text {
	margin: 0 0 0.5em 0;
	text-indent: 1em;
}

p.first_p, #poststuff #bible-text p.first_p {
	text-indent: 0;
}

p.bible_poetry, #poststuff #bible-text p.bible_poetry {
	text-indent: -1.5em;
	margin: 0 5.5em 0.5em 5.5em;
}


p.bible_text.bible_display_flat {
	display: inline;
	text-indent: 0;
}

p.bible_text.bible_display_flat span.bible_verse {
	display: block;
	margin: 0;
	margin-bottom: 0.5em;
}

p.bible_psalm_desc {
	font-style: italic;
	display: block;
}

.bible_verse_id {
	font-style: normal;
	font-weight: bold;
}

.bible_chapter_id {
	font-weight: bold;
	margin: 0px;
	padding: 5px;
}

.bible_end_p {
	display: block;
	height: 10px;
}

.bible_end_poetry {
	display: block;
	height: 4px;
}

.bible_poetry_indent_1 {
	margin: 0px;
}

.bible_poetry_indent_2 {
	margin: 0px;
	margin-left: 20px;
}

.red_words {
	color: #960000;
}


/*
Table of Contents
*/

#bible_toc {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#bible_toc ul{
	list-style-type: none;
	margin: 0;//10 10 10 10;
	padding: 0;
}

#old_testament {
	float: left;
	width: 45%;
	margin-right: 5%;
}

#new_testament {
	float: right;
	width: 45%;
	margin-right: 5%;
}

#apocrypha {
	float: right;
	width: 45%;
	margin-right: 5%;
}

/*
Scripture Links
*/

a.no_href {
	text-decoration: underline;
	cursor: pointer;
}


/*
Blog Post related:
*/

.bible_post_nav {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0.5em 0;
}

a.bible_post_prev {
	position: absolute;
	left: 0;
}

a.bible_post_next {
	position: absolute;
	right: 0;
}
