/*
Bible Reader Iframe
*/

iframe.bfox-passage-iframe {
	border: 3px solid #EEE;
	width: 100%;
	height: 350px;
}

div.bfox-passage-iframe-wrap {
	text-align: center;
	margin: 0 0 10px 0;
}

/*
Previous and Next chapter links
*/

.passage-nav {
	position: relative;
	top: -10px;
}

.ref_seq_prev, .ref_seq_next {
	font-size: 0.8em;
	margin-top: 1em;
}

.ref_seq_prev {
	position: absolute;
	top: 0px;
	left: 0px;
}

.ref_seq_next {
	position: absolute;
	top: 0px;
	right: 0px;
}

.ref_seq_prev:before {
	content: "\00AB \0020";
}

.ref_seq_next:after {
	content: "\0020 \00BB";
}

/*
Ref read
*/

.ref-read {
	color: #888888;
	font-size: 12px;
	font-weight: normal;
	text-align: right;
	float: right;
}

.ref-read input {
	font-size: 12px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-x-system-font: none;
	border: 1px inset #CCCCCC;
	color: #555555;
	padding: 2px 5px;
}

/* Override the blue box that default.css adds (see .activity-list .activity-header a:first-child) */ 
.activity-list .activity-header a.bible-ref {
	background: none;
	border: none;
	color: #1FB3DD;
	padding: 0;
	margin: 0;
	text-decoration: underline;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
	.activity-list .activity-header a.bible-ref:hover {
		background: none !important;
		color: #888888 !important;
	}
