/*
Tooltip Links
*/

a.bible-tooltip-url {
	display: none;
}

/*
Tooltip Content
*/

div.bfox-tooltip-posts {
	float: left;
	width: 130px;
	font-size: 10px;
}
	div.bfox-tooltip-posts ul {
		list-style-type: none;
		margin: 0 0 0 5px;
		padding: 0;
	}

div.bfox-tooltip-bible {
	margin-left: 135px;
	width: 478px;
	text-align: center;
}

iframe.bfox-tooltip-iframe {
	border: 3px solid #EEE;
	width: 100%;
	height: 350px;
}
