/*
Bible Search
*/

#search_header h4 {
	margin: .4em 0;
}

#search_sidebar {
	float: left;
	position: relative;
	width: 160px;
}

#search_content {
	position: relative;
	margin-left: 165px;
}

#bible_search .results_wrap {
	position: relative;
	float: left;
}

#bible_search .result_chapter h4 {
	font-size: 12px;
	background-color: #EEEEEE;
	margin: 0px;
	border-bottom: 1px solid #DFDFDF;
	padding: 5px 5px 5px 150px;
}

#bible_search .result_verse {
	position: relative;
	padding: 5px 5px 5px 150px;
	border-bottom: 1px solid #DFDFDF;
}

#bible_search .result_verse h5 {
	font-size: 12px;
	margin: 0px 0px 0px -145px;
	float: left;
	padding: 0px;
}

.page_links {
	font-weight: normal;
	float: right;
}

.page_current {
	font-weight: bold;
}

/*
Verse Map
*/

#verse_map_list {
	background-color: #EEE;
}

#verse_map_list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#verse_map_list li:hover {
	background-color: #EEE;
}

#verse_map_list li li:hover {
	background-color: #DDD;
}

#verse_map_list li li li:hover {
	background-color: #CCC;
}

#verse_map_list li li li li:hover {
	background-color: #BBB;
}

#verse_map_list li li li li li:hover {
	background-color: #AAA;
}

#verse_map_list a {
	position: relative;
	display: block;
	width: 128px;
	padding: 0 25px 0 5px;
	text-decoration: none;
}

#verse_map_list li li a {
	padding: 0 20px 0 10px;
}

#verse_map_list li li li a {
	padding: 0 15px 0 15px;
}

#verse_map_list li li li li a {
	padding: 0 10px 0 20px;
}

#verse_map_list li li li li li a {
	padding: 0 5px 0 25px;
}

#verse_map_list a:hover {
	background-color: #AAA;
}

#verse_map_list a .book_count {
	position: absolute;
	right: 5px;
}

/*
Generic (at least, they were generic, but now they are only used here)
*/

.roundbox, .biblebox {
	background-color: #FFFFFF;
	position: relative;
}

.roundbox {
	margin: 8px 0px 8px 0px;
}

.box_head {
	color: #464646;
	background: #DFDFDF url(gray-grad.png) repeat-x scroll left top;
	text-shadow: 0 1px 0 #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 7px 9px;
}

.roundbox {
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}

.roundbox, .roundbox .box_head {
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}

.biblebox .box_head {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
}

.box_head form {
	position: absolute;
	top: 1px;
	right: 5px;
	margin: 0px;
	padding: 0px;
}

.box_right {
	float: right;
}

.box_menu {
	background-color: #EEEEEE;
	position: relative;
	padding: 5px;
	margin: 0px;
}

.box_inside {
	background-color: #FFF;
	position: relative;
	padding: 1em;
}
