/*
Global Reset: http://meyerweb.com/eric/tools/css/reset/index.html
*/

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
*/

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Global
*/
/*
body, td {
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:13px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
*/

/*
Scripture Text
*/

.bible_jesus {
	color: #960000;
}

#bible .hidden_verses, #bible .hidden_verses .bible_jesus,
#bible .hidden_chapter, #bible .hidden_chapter .bible_jesus {
	color: #777;
}

/*
Bible
*/

#bible {
	position: relative;
	width: 96%;
	padding: 0% 2%;
	float: left;
}

#bible_head {
	background-color: #DFDFDF;
	padding: 5px;
	position: relative;

	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	border: 1px solid #A0A0A0;
	border-top: 0;
}

#bible_head_content h2 {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#bible_bar div.inside {
	position: relative;
	width: 100%;
	height: 30px;
}

ul#bible_page_list {
}

ul#bible_page_list li {
	display: inline;
	list-style: none;
}

#bible_search_form {
	position: absolute;
	top: 2px;
	right: 15px;
}

#bible_search_form select {
	width: auto;
}

.page_links {
	font-weight: normal;
	float: right;
}

.page_current {
	font-weight: bold;
}

#bible .page_head {
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
	background-color: #EEEEEE;
	position: relative;
	padding: 5px;
	border: 1px solid #DFDFDF;
	margin: 5px 0px 5px 0px;
}

/*
Scripture Viewer
*/

#bible_tool_header {
	background-color: #E4F2FD;
	margin: 10px;
	padding: 10px;
	display: block;
}

#bible_tool_body {
	width: 100%;
}

#bible_view {
	width: 50%;
	float: left;
}

#verse_layout_toggle {
	position: absolute;
	right: 10px;
}

#bible_view_header, #bible_view_footer {
	background-color: #E4F2FD;
	border: thin solid #2583AD;
	height: 125px;
	margin: 1px;
}

ul#bible_tool_options {text-align: right;}
ul#bible_tool_options li {
	display: inline;
	list-style: none;
}

#quick_view_button {
	text-decoration: underline;
	cursor: pointer;
}

#bible_tool_display_options {
	text-align: left;
}

#bible_quick_view {
	width: 50%;
	float: right;
}

#verse_select_box {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-top: thin solid #2583AD;
	background-color: #E4F2FD;
	display: none;
	font-size: 9px;
	z-index: 2;
}

#verse_select_menu {
	float: left;
	width: 200px;
}

#verse_select_menu h1 {
	font-size: 1em;
}

#verse_select_menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

#verse_select_box_close {
	float: right;
}

#edit_quick_note {
	float: right;
	width: 80%;
}

#edit_quick_note_save {
	float: left;
}

.edit_quick_note_link {
//	text-decoration: underline;
	cursor: pointer;
}

.note {
	position: relative;
}

.note_popup {
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
	background-color: #EEEEEE;
	padding: 5px;
	border: 1px solid #DFDFDF;
	position: absolute;
	top: 15px;
	display: none;
	width: 300px;
	margin: 0px;
	z-index: 10;
}

.bible_quick_view_menu {
	float: right;
}

.bible_quick_view_menu li {
	display: inline;
	list-style: none;
}

.bible_quick_view_menu_option {
	display: none;
}

.bible_quick_view_menu_option_selected {
	display: block;
}

#bible_quick_view_header {
	border: thin solid #2583AD;
	background-color: #E4F2FD;
	height: 125px;
	margin: 1px;
}

#bible_quick_view_scripture_header {
	text-align: right;
}

#bible_quick_view_scripture_header h4 {
	text-align: left;
}

/*
Scripture Layout
*/

#bible .reference {
	font-size: 13px;
	margin: 1.5em 0 0 0;
}

#bible .ref_seq {
	margin: 0.5em;
	margin-top: 0em;
	border: 1px solid #DDD;
	-moz-border-radius: 0.5em;
}

#bible .ref_seq_head, #bible .ref_seq_foot {
	background-color: #EEE;
	text-align: center;
	padding: 0.5em;
}

#bible .ref_seq_title {
	font-size: 1.6em;
	display: block;
}

#bible .ref_seq_prev, #bible .ref_seq_next {
	font-size: 0.5em;
	margin-top: 1em;
}

#bible .ref_seq_prev {
	text-align: left;
	float: left;
}

#bible .ref_seq_next {
	text-align: right;
	float: right;
}

#bible .ref_seq_prev:before {
	content: "\00AB \0020";
}

#bible .ref_seq_next:after {
	content: "\0020 \00BB";
}

#bible .ref_seq_body {
	padding: 1em;
}

#bible .chapter_head {
	font-size: 2em;
	float: left;
	margin: 0 4px 0 0;
	padding: 0 6px;
	text-align: center;
	font-weight: bold;
	background-color: #EEEEEE;
	-moz-border-radius: 0.3em;
}

#bible .sequence {
	border-bottom: 1px solid #DFDFDF;
}

#bible .hidden_chapter {
	display: none;
}

#bible .hidden_verses {
	width: 100%;
	display: none;
}

#bible .hidden_verses_rule {
	border: 0;
	color: #DFDFDF;
	background-color: #DFDFDF;
	height: 1px;
	width: auto;
	clear: left;
}

#bible a.ref_bar {
	display: block;
	text-align: center;
	background-color: #EEE;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

/*
Blog Commentaries
*/

#bible .sideview {
	background-color: #EEEEEE;
	float: right;
	width: 50%;
	position: relative;
	border: 0px solid #EEEEEE;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin: 0;
	padding: 0px;
	-moz-border-radius-bottomleft: 0.5em;
	display: none;
}

#bible .commentary_list_head {
	border-bottom: 1px solid #DFDFDF;
	padding: 5px;
}

#bible .post h3 {
	font-size: 12px;
	background-color: #EEEEEE;
	margin: 0px;
	border-bottom: 1px solid #DFDFDF;
	padding: 5px;
}

#bible .post_content {
	position: relative;
	padding: 5px;
	border-bottom: 1px solid #DFDFDF;
}

table#commentaries {
	width: 100%;
}

ul#sideview_list {
	margin: 0 0 0 1em;
	padding: 0;
}

ul#sideview_list li {
	display: inline;
	list-style-type: none;
	background-color: #DDD;
	padding: 0 0.3em;
}

/*
Generic
*/

#page_message {
	padding: 5px;
	margin: 5px 0px;
	background-color: #FFFBCC;
	border: 1px solid #E6DB55;
	-moz-border-radius: 0.5em;
}

.roundbox, .biblebox {
	background-color: #FFFFFF;
	position: relative;
}

.roundbox {
	margin: 8px 0px 8px 0px;
}

.box_head {
	color: #464646;
	background: #DFDFDF url(gray-grad.png) repeat-x scroll left top;
	text-shadow: 0 1px 0 #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 7px 9px;
}

.roundbox {
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}

.roundbox, .roundbox .box_head {
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}

.biblebox .box_head {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
}

.box_head form {
	position: absolute;
	top: 1px;
	right: 5px;
	margin: 0px;
	padding: 0px;
}

.box_right {
	float: right;
}

.roundbox, .roundbox input[type="text"], .roundbox textarea {
	border: 1px solid #DFDFDF;
}

.box_menu {
	background-color: #EEEEEE;
	position: relative;
	padding: 5px;
	margin: 0px;
}

.box_inside {
	background-color: #FFF;
	position: relative;
	padding: 1em;
}

.quick_write_input {
	position: relative;
	margin-left: 100px;
}

.quick_write_input h4 {
	position: absolute;
	top: 0px;
	left: -100px;
	margin: 0;
	font-weight: normal;
}

ul.flat_toc li {
	display: inline;
	padding-right: 3px;
}

/*
Collapsable Box
*/

.cbox {
	font-size: 1em;
	margin: 1em 0;
	border: 0.1em solid #CCC;
	-moz-border-radius: 0.5em;
}

.cbox_head {
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.5em;
	margin: 0;
	color: #333;
	background-color: #DDD;
	border-bottom: 0.1em solid #CCC;
}

.cbox_sub div.cbox_head {
	font-size: 1.1em;
	padding: 0.4em 0.5em;
	background-color: #DDD;
}

.cbox_sub_sub div.cbox_head {
	font-size: 1em;
	padding: 0.3em 1.4em;
	background-color: #EEE;
	font-weight: normal;
}

.cbox_body {
	border-bottom: 0.1em solid #CCC;
}

/*
Table
*/

.widefat {
	-moz-border-radius: 0.5em;
	border-collapse: separate;
	border-spacing: 0;
	border-style: solid;
	border-width: 0.1em;
	border-color: #CCC;
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFF;
}

.widefat thead tr th, .widefat tfoot tr th {
	background: #DDD;
	color: #333;
}

.widefat td, .widefat th {
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-color: #CCC;
	font-size: 0.9em;
	vertical-align: text-top;
	margin: 0;
	padding: 0.3em;
}

.widefat th {
	text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.8);
	line-height: 1.3em;
	padding: 0.6em 0.3em;
	text-align: left;
}

.widefat tr.even_row td {
	background-color: #F4F4F4;
}

.widefat p {
	margin: 0 0 0.5em 0;
}

td.noborder {
	border: 0;
}

td.finished {
	text-decoration: line-through;
}

/*
Form Table
*/

.form-table {
	-moz-border-radius: 0.5em;
	border-collapse: separate;
	border-spacing: 0;
	border-style: solid;
	border-width: 0.1em;
	border-color: #CCC;
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #EEE;
	
}

.form-table th, .form-wrap label {
	color: #222222;
	text-shadow: 0 0.1em 0 #FFFFFF;
	font-weight: normal;
}

.form-table th {
	padding: 1em;
	margin: 0;
	text-align: left;
	vertical-align: top;
	width: 20%;
}

.form-table td {
	padding: 1em;
	margin: 0;
}

.form-table textarea {
	width: 98%;
}

.form-table textarea, .form-table input[type="text"] {
	border: 0.1em solid #CCC;
	padding: 0.3em;
}

.form-table label {
	cursor: pointer;
}
