/*
Scripture Text
*/

p.bible-psalm-desc {
	font-style: italic;
}

.bible-jesus {
	font-style: normal;
//	color: rgb(150, 0, 0);
}

.bible-verse-id {
	font-style: normal;
	font-weight: bold;
}

p.bible-chapter-id {
	font-weight: bold;
}

br.bible-poetry {
	display: none; // HACK - WP is adding an unwanted <p> in front of these so we are hiding this until that is fixed
}

.bible_verse {
	display: inline;
	margin: 0px;
}

.bible_end_p {
	display: block;
	height: 10px;
}

.bible_end_poetry {
	display: block;
	height: 4px;
}

.bible_poetry_indent_1 {
	margin: 0px;
}

.bible_poetry_indent_2 {
	margin: 0px;
	margin-left: 20px;
}


/*
Table of Contents
*/

#bible_toc {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#bible_toc ul{
	list-style-type: none;
	margin: 0;//10 10 10 10;
	padding: 0;
}

#old_testament {
	float: left;
	width: 45%;
	margin-right: 5%;
}

#new_testament {
	float: right;
	width: 45%;
	margin-right: 5%;
}

#apocrypha {
	float: right;
	width: 45%;
	margin-right: 5%;
}

/*
Scripture Links
*/

a.bible-ref-quick-link, a.bible-ref-link {
	text-decoration: underline;
	cursor: pointer;
}

/*
Scripture Tags (copied from regular tag CSS - #tagchecklist)
*/

#bible-ref-div #new-bible-ref {
	margin-right: 5px;
	width: 16em;
}

#bible-ref-checklist {
	margin-left: 10px;

	font-size: 12px;
	overflow: auto;
}

#bible-ref-checklist strong {
	margin-left: -8px;
	position: absolute;
}

#bible-ref-checklist span {
	margin-right: 25px;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.8em;
	white-space: nowrap;
	cursor: default;
}

.bible-tag-remove-button {
	margin: 5px 0pt 0pt -9px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
}

.bible-tag-remove-button {
	background: url(../../../wp-admin/images/xit.gif) no-repeat;
}

.bible-tag-remove-button:hover {
	background: url(../../../wp-admin/images/xit.gif) no-repeat -10px 0;
}

/*
Scripture Viewer
*/

#bible_view {
	width: 100%;
	float: left;
}

#bible_view_header, #bible_view_footer {
	background-color: #E4F2FD;
}

#bible_search_verse_map {
	float: left;
}

#quick_view_button {
	text-decoration: underline;
	cursor: pointer;
}

#verse_layout_toggle {
	text-decoration: underline;
	cursor: pointer;
}

#bible_quick_view {
	width: 50%;
	float: right;
	display: none;
}

#verse_select_box {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-top: thin solid #2583AD;
	background-color: #E4F2FD;
//	display: none;
	font-size: 9px;
	z-index: 2;
}

#verse_select_more_info {
	display: none;
}

#verse_select_menu {
	float: left;
	width: 200px;
}

#verse_select_menu h1 {
	font-size: 1em;
}

#verse_select_menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

#edit_quick_note {
	float: right;
	width: 80%;
}

#edit_quick_note_save {
	float: left;
}

.edit_quick_note_link {
//	text-decoration: underline;
	cursor: pointer;
}

