p.bible-poetry-level-1 {
	margin: 0px;
}

p.bible-poetry-level-2 {
	margin: 0px;
	margin-left: 20px;
}

p.bible-psalm-desc {
	font-style: italic;
}

.bible-jesus {
	font-style: normal;
//	color: rgb(150, 0, 0);
}

.bible-verse-id {
	font-style: normal;
	font-weight: bold;
}

p.bible-chapter-id {
	font-weight: bold;
}

br.bible-poetry {
	display: none; // HACK - WP is adding an unwanted <p> in front of these so we are hiding this until that is fixed
}

/*
Scripture Links
*/

a.bible-ref-quick-link {
	text-decoration: underline;
	cursor: pointer;
}

/*
Scripture Tags (copied from regular tag CSS - #tagchecklist)
*/

#bible-ref-div #new-bible-ref {
	margin-right: 5px;
	width: 16em;
}

#bible-ref-checklist {
	margin-left: 10px;

	font-size: 12px;
	overflow: auto;
}

#bible-ref-checklist strong {
	margin-left: -8px;
	position: absolute;
}

#bible-ref-checklist span {
	margin-right: 25px;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.8em;
	white-space: nowrap;
	cursor: default;
}

.bible-tag-remove-button {
	margin: 5px 0pt 0pt -9px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
}

.bible-tag-remove-button {
	background: url(../../../wp-admin/images/xit.gif) no-repeat;
}

.bible-tag-remove-button:hover {
	background: url(../../../wp-admin/images/xit.gif) no-repeat -10px 0;
}
