/*
Logo
*/

#header h1 a {
	margin-top: -36px;
	text-indent: -999em;
	background: url(../images/logo-login.png) top left no-repeat;
	overflow: hidden;
	width: 310px;
	height: 70px;
	display: block;
	float: left;
}

/*
Bible Layout
*/

.passagecolumn {
	width: 70%;
	float: left;
	margin: 0;
}

#bible-passages {
	position: relative;
}

#bible-passages .post h4 {
	text-align: center;
	padding: 0 0;
	margin: 0;
}

/*
Bible Sidebar
*/
	
#bible-sidebar {
	margin-left: 75%;
	margin-right: 10px;
}

	#bible-sidebar h2.widgettitle {
		background: url(../images/rightcol_header_back.gif) top left no-repeat;
		color: #fff;
	}
	
	.passagecolumn h2.widgettitle {
		background: url(../images/leftcol_header_back.gif) top left no-repeat;

	}

/*
Posts Widget
*/

#bible-sidebar .post {
	clear: none;
}
	
#bible .post h3 {
	font-size: 12px;
	background-color: #EEEEEE;
	margin: 0px;
	border-bottom: 1px solid #DFDFDF;
	padding: 5px;
}

.cbox_head {
	font-size: 1em;
	padding: 0.3em 1.4em;
	margin: 0;
	border-top: 0.1em solid #CCC;
}

.cbox_head:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*
Passage Content
*/

.passage-nav {
	position: relative;
	top: -10px;
}

.ref_seq_prev, .ref_seq_next {
	font-size: 0.8em;
	margin-top: 1em;
}

.ref_seq_prev {
	position: absolute;
	top: 0px;
	left: 0px;
}

.ref_seq_next {
	position: absolute;
	top: 0px;
	right: 0px;
}

.ref_seq_prev:before {
	content: "\00AB \0020";
}

.ref_seq_next:after {
	content: "\0020 \00BB";
}

.passages_info {
	position: absolute;
	top: 0;
	right: 1em;
	font-size: 0.8em;
}

.chapter_head {
	font-size: 1.8em;
	float: left;
	margin: 0.2em 0.2em 0 0;
	padding: 0.2em 0.1em;
	min-width: 1.5em;
	height: 1.1em;
	text-align: center;
	font-weight: bold;
}

/*
Table
*/

.widefat {
	-moz-border-radius: 0.5em;
	border-collapse: separate;
	border-spacing: 0;
	border-style: solid;
	border-width: 0.1em;
	border-color: #CCC;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFF;
}

.widefat thead tr th, .widefat tfoot tr th {
	background: #DDD;
	color: #333;
}

.widefat td, .widefat th {
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-color: #CCC;
	font-size: 0.9em;
	vertical-align: text-top;
	margin: 0;
	padding: 0.3em;
}

.widefat th {
	text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.8);
	line-height: 1.3em;
	padding: 0.6em 0.3em;
	text-align: left;
}

.widefat tr.even_row td {
	background-color: #F4F4F4;
}

.widefat p {
	margin: 0 0 0.5em 0;
}

td.noborder {
	border: 0;
}

td.finished, a.finished {
	text-decoration: line-through;
}

ul.flat_toc {
	padding: 0.5em;
	margin: 0;
	text-align: center;
}

ul.flat_toc li {
	display: inline;
	padding: 0 0.2em;
	list-style: none;
}

/**** BIBLE NOTES ***********************/

#bible-note-list li, #bible-note-new {
	background: url(../images/message_thread_back.gif) top left repeat-x;
	padding: 5px;
}

	.bible-note-metadata, #bible-note-new-metadata {
		color: #888;
		font-size: 0.9em;
	}
	
	.bible-note-content {
		margin-left: 68px;
	}

		.bible-note-content p {
			margin-bottom: 8px;
		}

#bible-note-new:hover {
	position: relative;
	background: url(../images/message_thread_unread_back.gif) top left repeat-x;
}

#bible-note-new textarea {
	font: normal 1em "Lucida Grande", "Lucida Sans Unicode", Arial, Tahoma, sans-serif;
}

#bible-note-new {
	padding: 10px;
	position: relative;
}

div#bible-note-new {
	margin-top: 15px;
}
	p#wire-email-notify {
		float: right;
		margin: 0;
	}

	div#bible-note-new-avatar { 
		float: left;
	}
	
	div#bible-note-new-metadata {
		position: absolute;
		bottom: 11px;
		right: 10px;
	}
		span#bible-note-by-text {
			display: none;
		}

div.bible-note-edit-form-header {
	font-size: 1.2em;
}

.bible-note-open-edit-form {
	float: right;
	margin-bottom: 0px;
}

form.bible-note-edit-form textarea {
	height: 90px;
	width: 98%;
	margin: 5px 0 0 0;
}

input.bible-note-ref-tags {
	margin-top: 5px;
	width: 98%;
}

div.bible-note-privacy-setting {
	margin-top: 10px;
}

input.bible-note-submit { 
	margin-top: 10px;
	float: right;
}

form#bible-note-list-filter-form {
	text-align: right;
	position: relative;
	top: -10px;
}

div.bible-note-edit-form-result div, div.bible-note-edit-form-result div p {
	margin: 5px 0 0 0 !important;
}
