/* Reuse the blog bullet */
li a#my-plans {
	background: url(../images/blog_bullet.gif) 87% 52% no-repeat;
	padding: 0.55em 3em 0.55em 0 !important;
	margin-right: 0.85em !important;
}

/*
Finished Readings
*/
.bfox-reading-finished {
	text-decoration: line-through;
}

/*
Form
*/
#plan-settings-form #plan-desc {
	height: 80px;
}

#plan-settings-form #plan-readings {
	height: 300px;
}

#plan-settings-form #plan-chunks {
	height: 60px;
}

/*
Reading Plan Chart table
*/
table.reading_plan {
	margin: 0 2%;
	padding: 0;
	width: 96%;
	background-color: #FFF;
	border-collapse: separate;
	border: 0.1em solid #CCC;
	-moz-border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
}

table.reading_plan caption {
	margin: 0;
	padding: 0.3em;
	width: 96%;
	background-color: #EEE;
	border: 0.1em solid #CCC;
	border-bottom: 0;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-topright: 0.5em;
}

table.reading_plan caption p {
	margin: 0;
	padding: 0;
}

table.reading_plan_col {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
	border-spacing: 0;
}

table.reading_plan tr, table.reading_plan_col tr {
	width: 100%;
	margin: 0;
	padding: 0;
}

table.reading_plan td {
	margin: 0;
	padding: 0.3em;
}

table.reading_plan_col td {
	margin: 0;
	padding: 0;
}

table.reading_plan_col td {
	font-size: 0.8em;
}

table.reading_plan_col tr.current td {
	font-weight: bold;
}

table.reading_plan tr.even_row td {
	border-top-style: solid;
	border-top-width: 0.1em;
	border-color: #CCC;
	background-color: #EEE;
}

